body {
  --main-bg-color: #f4f4f4;
  --header-bg-color: #232020;
  --header-text-color: #ffffff;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--main-bg-color) !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

header {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.05em;
  background-color: var(--header-bg-color);
  color: var(--header-text-color) !important;
}

.filter-grid {
  display: grid;
  grid-template-columns: 1.5fr 1fr 1.5fr 40px;
  grid-column-gap: 8px;
}
